@media only screen and (max-width: 600px) {
    h1 {
        font-size: 16pt;
    }
}

.grow {
    transition: all .2s ease-in-out;
}
.grow:hover { transform: scale(1.05); }

body {
    background-image: linear-gradient(to top, rgba(39, 201, 230,0), rgba(39, 201, 230,1));
    background-repeat: no-repeat;
}

.jbt {
    background-image: linear-gradient(to bottom right, Navy, Teal);
    background-repeat: no-repeat;  
  }