/*https://colorhunt.co/palette/1534483c5b6f948979dfd0b8*/
:root {
  --r: 21;
  --g: 52;
  --b: 72;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  cursor: url("../images/sword-cursor.png"), auto;
}

.main {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: rgba(245, 245, 245, 0.5);
  color: black;
  border: none;
}
nav {
  z-index: 100;
  position: fixed;
  background-color: rgba(var(--r), var(--g), var(--b), 1);
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition-duration: 600ms;
  cursor: crosshair;

  i {
    visibility: hidden;
  }
}

nav ul li a:hover {
  font-size: x-large;
  font-weight: bold;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.page {
  display: block;
  width: 100%;
  height: auto;
}

.page-title {
  text-align: center;
  padding: 70px 0 50px 0;
  font-size: xx-large;
}

.profile-img {
  width: 25rem;
  height: 25rem;
  border-image: linear-gradient(to right, darkblue, cyan) 1;
  border-radius: 50%;
  border: 3px solid rgba(var(--r), var(--g), var(--b), 1);
}

.profile-body {
  position: relative;
  margin: 0;
  padding: 0 10% 0 10%;
  width: 100%;
  height: 100vh;
  gap: 1em;
}

.profile-body div {
  display: flex;
  margin: 0;
  padding: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile-div {
  justify-content: center;
}
.description-div {
  font-size: 1.8em;
}

.description-div p {
  padding: 100px;
}

.card {
  display: flex;
  background-color: rgb(60, 91, 111);
  color: red;
  height: auto;
  margin: 20px;
  border-radius: 15px;
}

.card .card-title {
  font-size: large;
  padding: 30px;
}

.card-body {
  font-size: 4.5rem;
  padding: 50px;
}

.hr-short {
  margin: 40px 30% 40px 30%;
  border-color: aquamarine;
}

.project-body {
  gap: 10px;
  padding: 0 10% 0 10%;
}

.project-card {
  background-color: white;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  width: 100%;
  height: auto;
  text-align: center;
  transition-duration: 600ms;
  box-shadow: rgba(47, 149, 232, 0.16) 0px 10px 36px 0px,
    rgba(3, 102, 138, 0.06) 0px 0px 0px 1px;
}

.project-card:hover {
  z-index: 5;
  border: 1px solid aqua;
  transform: scale(1.1);
  box-shadow: rgba(14, 70, 116, 0.16) 0px 10px 36px 0px,
    rgba(9, 73, 96, 0.06) 0px 0px 0px 1px;
}

.project-card-featured {
  width: 80%;
  object-fit: contain;
}

.project-card-title {
  display: flex;
  border-radius: 0 0 15px 15px;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(50, 50, 50, 0.4);
  font-size: 1.2em;
  font-weight: 600;
  color: white;
}

.box-style {
  box-shadow: rgba(47, 149, 232, 0.16) 0px 10px 36px 0px,
    rgba(3, 102, 138, 0.06) 0px 0px 0px 1px;
  border-radius: 10px;
}

.w-1 {
  width: 10%;
}
.w-2 {
  width: 20%;
}
.w-3 {
  width: 30%;
}
.w-4 {
  width: 40%;
}
.w-5 {
  width: 50%;
}
.w-6 {
  width: 60%;
}
.w-7 {
  width: 70%;
}
.w-8 {
  width: 80%;
}
.w-9 {
  width: 90%;
}
.w-10 {
  width: 100%;
}

.m-auto {
  margin: auto;
}
.mx-5 {
  margin: 0 5%;
}
.my-5 {
  margin: 5% 0;
}

.about-img {
  height: 20rem;
  margin: 5rem;
}

.text-center {
  text-align: center;
}

.about-description {
  padding: 20px;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.dev-mode {
  position: fixed;
  background-color: yellow;
  font-weight: bold;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  text-align: center;
  padding: 7px;
  border-radius: 5%;
}

.info {
  position: fixed;
  color: aqua;
  font-weight: bold;
  font-size: 2.6rem;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  text-align: center;
  padding: 7px;
  border-radius: 5%;
  z-index: 200;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(3, 194, 194);
}

.info:hover {
  transition-duration: 1s;
  font-size: 2.7rem;
}

@keyframes slides {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 30px 0px;
  white-space: nowrap;
  position: relative;
  margin-top: -10%;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  content: "";
  width: 250px;
  height: 100%;
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255, 0.5)
  );
}

.logos:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255, 0.5)
  );
}

.logo-items {
  display: inline-block;
  animation: 35s slides infinite linear;
}

.logos:hover .logo-items {
  animation-play-state: paused;
}

.logo-items img {
  width: 10rem;
  padding: 3rem;
}

.float-animate {
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* Media query for phones */
@media only screen and (max-width: 768px) {
  nav {
    display: inline-block;
    position: fixed;
    bottom: 0;
  }
  nav ul {
    text-align: center;
    li {
      a {
        display: flex;
        flex-direction: column;
        font-size: small;
        i {
          font-size: medium;
          visibility: visible;
        }
      }
    }
  }
  nav ul li a:hover {
    font-size: small;
    font-weight: bold;
    background-color: whitesmoke;
    border-radius: 5%;
    color: rgba(var(--r), var(--g), var(--b), 1);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0 0 15% 0;
    padding: 0;
    overflow-x: hidden;
  }
  .profile-img {
    width: 20rem;
    height: 20rem;
  }
  .about-img {
    height: 15rem;
    margin: 0;
  }
  /* .main {
    display: none;
  } */
  /* body::after {
    content: "No Support";
    font-weight: bold;
  } */

  .profile-body {
    padding: 0;
    grid-template-areas: "profile" "description";
    gap: 0;
  }

  .profile-body div {
    padding: 0;
  }

  .description-div p {
    padding: 15px;
  }

  .logo-items img {
    width: 9rem;
    padding: 3rem;
  }

  .dev-mode {
    top: 0;
    bottom: auto;
    opacity: 0.3;
  }

  .info {
    font-size: 2.4rem;
    bottom: 4rem;
  }

  .info:hover {
    font-size: 2.5rem;
  }
}
